
@import "@fortawesome/fontawesome-free/css/all.css";

@font-face {
	font-family: 'SF Pro Text';
	src:
		url('../fonts/SF-Pro-Text-Font-Family/SF-Pro-Text-Regular.otf'),
		url('../fonts/SF-Pro-Text-Font-Family/SF-Pro-Text-RegularItalic.otf');
}

body {
	font-family: 'SF Pro Text',SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
	min-height: 100vh;
}

.nav-family {
	font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;